body{
  background-color: black;
  color:white;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(1, 1, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  
  /* padding: 0 80px; */
}
nav h1{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 120px ;
  /* margin-right: 200px; */
}
nav h1 img{
  margin-right: 4px;
}
nav h1:hover{
  cursor:pointer;

}
nav div{
  display:flex;
  gap: 35px;
  
  

}
nav div a{
  color:rgb(221, 218, 218);
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight:700;
 font-size: 15px;
}
nav div a:hover{
  cursor: pointer;
  color:rgb(160, 157, 157);
}
nav div a:active{
  color:gray
}
nav div button{
  border-radius: 15px;
border-width: 1px;
  padding-left: 10px;
  padding-right: 10px;
 
  /* font-size: 1px; */
  
  
  
}
#sign-in{
  background-color: rgb(32, 31, 31);
    padding-left: 12px;
  padding-right: 12px;
  color:white;
  font-size: 16px;
  cursor: pointer;

}
#download{
  font-weight: 520;
  padding-left: 15px;
  padding-right: 15px;
   padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  margin-right: 100px;
  font-size: 18px;
  
}
#download:hover{
  background-color: rgb(203, 199, 199);
}

main div{
  margin-top: 150px;
  margin-left: 120px;
}
main div h1{
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
color:rgb(235, 231, 231);

}
main div button{
  margin-top: 20px;
  padding:12px;
  font-size:18px;
  border-radius: 50px;
  border:none;
  font-weight: 500;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(23, 23, 23);

}
.preview{
  margin-top:60px;
  margin-left: 120px;


}
.preview-text{
  margin-top:70px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(232, 228, 228)
}

.logo-grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  padding: 0 80px;
margin-top: 30px;
justify-content: center;
align-items: center;

}
.logo-grid div img{
  width: 100px;
  height: 90px;

}
.logo-grid div{
  text-align: center;
  font-family:"CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  
  font-size: 24px;
  font-weight: 700;
}
.logo-card{
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgb(27, 25, 19);
  border: 1px solid #222;
  border-radius: 8px;
  
}
.logo-card1{
  display: flex;
  align-items: center;
  font-family:  "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  justify-content: center;
  background:rgb(27, 25, 19);
  padding-top: 30px;
  padding-bottom: 30px;
  
  border: 1px solid #222;
 border-radius: 8px;
}
.feature-section{
  background:rgb(27, 25, 19);
  margin-left: 100px;
  margin-right: 100px;;
  margin-top: 110px;
  margin-bottom: 100px;

}
.container{
  display: flex;
  gap:40px;
  align-items: center;
  border-radius: 8px;
justify-content: space-between;
padding: 20px;
background-color: rgb(27, 25, 19);
}

.container h2{
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size:x-large;
}
.container p{
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size:24px;
  color: rgb(158, 153, 153);
  font-weight: 500;

}
.container a{  
  font-family:  "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;;
  text-decoration: none;
  color:orangered;
  font-size: 18px;
}
.container a:hover{
  cursor:pointer;
}
.container img{
  width:1000px;
}

