body{
  background-color: black;
  color:white;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(1, 1, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;

  

}
nav h1{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top:14px ;
  font-size: 14px;
  font-family:"CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-left: 110px ;
  font-weight: 600;

}
nav h1 img{
  margin-right: 4px;
  margin-top: 4px;
}
nav h1:hover{
  cursor:pointer;

}
nav div{
  display:flex;
  gap: 35px;
  
  

}
nav div a{
  color:rgb(234, 231, 231);
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight:500;
 font-size: 15px;
}
nav div a:hover{
  cursor: pointer;
  color:rgb(160, 157, 157);
}
nav div a:active{
  color:gray
}

 .nav-button{
  display: flex;
  gap: 6px;
  align-items: center;
  margin-right: 120px;
  margin-top: 10px;

 }
 .nav-button button {
  border-radius:  999px; 
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
  border: 1px solid rgba(255, 255, 255, 0.2);

}
 
#sign-in{
  background-color: rgb(32, 31, 31);
   
  color:rgb(235, 228, 228);
  

}
#signin:hover {
  
  cursor: pointer;
}

#download{
  background-color: rgb(242, 236, 236);
  color: black;
  border: none;

  
}
#download:hover{
  background-color: rgb(203, 199, 199);
}

main div{
  margin-top: 150px;
  margin-left: 110px;
}
main div h1{
  font-size: 26px;
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
color:rgb(235, 231, 231);

}
main div button{
  margin-top: 16px;
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  padding:10px;
  font-size:16px;
  border-radius: 50px;
  border:none;
  font-weight: 480;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  color: black;

}
.preview{
  margin-top:60px;
  margin-left: 110px;
  margin-right: 110px;
  


}
.preview img{
  border-radius: 5px;
}
.preview-text{
  margin-top:55px;
  text-align: center;
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  color:rgb(232, 228, 228)
}

.logo-grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  padding: 0 80px;
margin-top: 30px;
justify-content: center;
align-items: center;

}
.logo-grid div img{
  width: 100px;
  height: 90px;

}
.logo-grid div{
  text-align: center;
  font-family:"CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  
  font-size: 24px;
  font-weight: 700;
}
.logo-card{
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgb(27, 25, 19);
  border: 1px solid #222;
  border-radius: 8px;
  
}
.logo-card1{
  display: flex;
  align-items: center;
  font-family:  "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  justify-content: center;
  background:rgb(27, 25, 19);
  padding-top: 30px;
  padding-bottom: 30px;
  
  border: 1px solid #222;
 border-radius: 8px;
}
.feature-section{
  background:rgb(27, 25, 19);
  margin-left: 100px;
  margin-right: 100px;;
  margin-top: 110px;
  margin-bottom: 100px;

}
.container{
  display: flex;
  gap:30px;
  align-items: center;
  border-radius: 8px;
justify-content: space-between;
/* padding: 20px; */

background-color: rgb(27, 25, 19);
}
.text1,  .text3{
  line-height: 1.4;
padding: 16px;

}
.text2{
  line-height: 1.4;
  padding-right: 70px;
}

.container h2{
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size:22px;
  color: rgb(239, 233, 233);

}

.container p{
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size:20px;
  color: rgb(158, 153, 153);
  font-weight: 500;
  /* line-height: 1.4; */

}
.container a{  
  font-family:  "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;;
  text-decoration: none;
  color:orangered;
  font-size: 18px;
}
.container a:hover{
  cursor:pointer;
}
.container img{
  width:850px;
  height: 650px;
}
.text2{
  margin-left: 10px;
}
.card-section{
  margin-top:80px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.card-section h2{
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size:36px;
  color: rgb(244, 239, 239);
  text-align: center;

}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 8px;
  justify-content: center;
  margin-top: 40px;
  background-color: black;

}
.card {
  background:#151515;; 
  border: 1px solid #222;
  border-radius: 5px;
  padding: 28px;
  text-align: left;
  display: flex;
  min-width: 270px;
  min-height: 250px;
  flex-direction: column;
  justify-content: space-between; 

}
.card p{
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  color:rgb(219, 216, 216)
}
.author{
  display: flex;
  gap:10px;

  align-items: center;
}
.author img{
  width:40px;
  height: 40px;
  border-radius: 8px;
}
.author-info {
  display: flex;
  flex-direction: column;
  line-height: 0.5;
}
.author-info p{
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
}
.author-info span{
  font-family:"CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif ;
  color: rgb(210, 204, 204);
}
.card-section2{   
  margin-top:180px;
  max-width: 1300px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.cards2{ 
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 8px;
  justify-content: center;
  margin-top: 30px;
  background-color:  rgb(0, 0, 0);
}
.card2{
  background-color: rgb(27, 25, 19);
  border: 1px solid #222;
  border-radius: 5px;
  padding: 28px;
  text-align: left;
  display: flex;
  min-width: 270px;
  min-height: 250px;
  flex-direction: column;
  justify-content: space-between; 
}
 
.card2 img{
  
  width:380px;
  height: 400px;
  margin-top: 20px;
  border-radius: 5px;
}
.head{
  font-size: 16px;
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 0.2px;
  font-weight: 300;
  color:rgb(249, 246, 246)
}
.para{

  color: rgb(199, 195, 195);
  font-size: 16px;
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;

}
.card2 a{
  color: orangered;
}

.card-section2 h3{
   font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 24px;
   font-weight: 500;

}

.changelog{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  margin-top: 20px;
  
}

.changelog h3{
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

.logs{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;       
}
.log{
  background: #1b1916;
  border: 1px solid #242424;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;   
  gap: 12px;
  padding: 20px;                 
  border-radius: 10px;           
  min-height: 130px;         

  /* background:rgb(27, 25, 19);
  border: 1px solid #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 5px; */
}




.p1{
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  /* color: rgb(195, 191, 191);
  font-size: 18px;
  font-weight: 500; */

  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;        /* Smaller */
  font-weight: 500;
  color: #b3b3b3;

}


.log p button{
  /* border-radius: 15px;
  background-color: #242424;
  color: rgb(195, 191, 191);
  padding-right: 4px; */
 
  background: #242424;
  color: #d1d1d1;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 20px;
 
}
.log p{
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.p2{
color: orangered;
font-size: 18px;
font-weight: 400;
font-family: font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.feature2-section{
  background:rgb(27, 25, 19);
  margin-left: 100px;
  margin-right: 100px;;
  margin-top: 120px;
  margin-bottom: 100px;

}
.features2{
  display: flex;
  gap:10px;
  align-items: center;
  border-radius: 8px;
justify-content: space-between;
/* padding: 20px; */

background-color: rgb(27, 25, 19);
}

.p3{
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 600px;
  padding-left:12px ;
 
}
.p4{
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: orangered;
  font-weight: 500;
  padding-left:12px ;
}
.feature2-section img{
  margin: 20px;
  border-radius: 5px;
}


.highlights{
  margin-top: 250px;
  width: 100%;
  
}
.highlights-container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  
 
  background-color: #151515;
}
.highlights-left{
  font-family:"CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif ;
  font-size: 16px;
  font-weight: 400;

  
}
.section-label{
  margin-top: 80px;
  padding-left :50px;
}

.highlights-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10px;
  margin-top: 80px;
  cursor: pointer;
  

}
.highlight-card{
  background-color:  rgb(27, 25, 19);
  border: 1px solid rgba(255, 255, 255, 0.08);
  width: 600px;
  padding-left: 12px;
  border-radius: 5px;
}
.highlight-card h3{
  font-family:"CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif ;
  font-size: 16px;
  font-weight: 500;
}
.highlight-card p {
  
   font-family:"CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif ;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: rgb(208, 204, 204);

}
.highlight-card span{
  
  font-family:"CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif ;
  font-size: 16px;
  font-weight: 400;
  color: rgb(208, 204, 204);
}

.highlights-right a{
   font-family:"CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif ;
  font-size: 16px;
  font-weight: 400;
  color: orangered;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 80px;
}

.download{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.download p{
  font-family:"CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif ;
  font-size: 70px;
  font-weight: 500;
}
.download button{
   font-family:"CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif ;
  border-radius: 20px;
  font-size: 18px;
  padding: 6px 14px;
  margin-top: 10px;

}

.footer{
  background-color:rgb(27, 25, 19); 
  padding: 60px 0 40px;
  margin-top: 150px;

}
.footer-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
  
  
  gap: 60px;
  
}

.footer-column h4{ 
font-family:"CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif ;
font-size: 14px;
margin-bottom: 16px;
color: #aaa;

}

.footer-column a{
  display: block;
  font-family:"CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif ;
font-size: 14px;
  text-decoration: none;
  color: rgb(245, 241, 241);
  font-weight: 400;
  cursor: pointer;


}
.footer p{
 font-family:"CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif ;
 font-size: 14px;
 padding-left: 140px;
 margin-top: 100px;
 font-weight: 400;
 color:  rgb(193, 187, 187);



}